/* You can add global styles to this file, and also import other style files */
body{
  margin: 10px;
  background-color: hsl(217, 100%, 97%);
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
 }

 @font-face {
  font-family: Ubuntu-Bold;
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
 }

 @font-face {
  font-family: Ubuntu-Regular;
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
 }
