<div style="margin-top:40%">
  <div class="icon mb-4">
    <fa-icon [icon]="faCircleCheck"></fa-icon>
  </div>

  <div class="text-center">
    <h1 class="mb-3"> <span class="text-capitalize">thank</span> you!</h1>
    <p><span class="text-capitalize">thanks</span> for confirming your subscription! <span
        class="text-capitalize">we</span> hope you have fun using our platform.
      <span class="text-capitalize">if</span> you ever need support, please feel free to email us at
      support@loreming.com.
    </p>
  </div>
</div>
